/*====================清间距==================*/
body,h1,h2,h3,h4,h5,h6,p,a,input,ul,li,ol,dl,dt,dd,img,figcaption,figure,span,section{padding:0; margin:0;}
header,footer,nav,aside,article,section,main{display: block;}
ul,ol{ list-style:none;}
input,button{ outline:none; border: 0;}
img{ display:block;}
/*===============定义全局样式===============*/
/* *{box-sizing: border-box;} */
html,body{height: 100%; }
body{min-width: 1240px;}
body{font-family:"微软雅黑"; font-size:12px; color:#3e3e3e; background-color: #fff; overflow: hidden;}

/*===============定义超链接样式=============*/

a{ text-decoration:none; color:#909090;}
a:hover{ text-decoration:none; color:#cc9756;}

/*===============版心=============*/

.w{width: 1090px; margin:0 auto;}
.l{float: left;}
.r{float: right;}

/*===============图标=============*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }