
/*===============登录====================*/
#login{
        width: 384px;
        height: 400px;  
        background:white; 
        position: fixed; 
        z-index: 10;
        }
#login #dlu{
        width: 306px; 
        height: 60px;   
        margin-left: 29px; 
        position: relative;
        }
#login #dlu ul{
        width: 100%; 
        height: 18px;  
        line-height: 18px; 
        display: flex;
        position: absolute; 
        bottom: 10px;
        }
#login #dlu ul li{
        flex: 1; 
        text-align: center; 
        font-size: 18px; 
        cursor: pointer;
        }
#login #dlu ul li:nth-child(1){
        border-right: 1px solid #ccc; 
        color: #666;
        }
#login p{
        position: absolute; 
        right: 0; top: 0;
        }
#login #dlua{
        width: 300px; 
        height: 227px;  
        margin: 0 auto;
        margin-top:30px; 
        }
#login #dlua div:not(:nth-child(3)){
        border: 1px solid #ccc; 
        height: 36px; 
        margin-bottom: 10px;
        }
#login #dlua div span{
        width: 35px; 
        height: 30px; 
        display: inline-block; 
        text-align: center; 
        font-size: 22px; 
        color: #ccc; 
        margin-top:3px; 
        line-height: 30px; 
        border-right: 1px solid #ccc;
        }  
#login #dlua div input{
        width: 262px; 
        height: 36px; 
        outline-style: none; 
        border: 0; 
        float: right; 
        color: #999;
        }
#login #dlua button{
        width: 100%; 
        height: 48px;  
        background: rgb(180, 160, 120);
        border: 0; 
        margin-top:36px; 
        color: #fff; 
        border-radius: 2px; 
        font-size: 18px; 
        cursor: pointer;
        } 
#login p{
        width: 24px; 
        height: 24px; 
        position: absolute; 
        right: 4px; 
        top: 4px;
        cursor: pointer; 
        background:url(../images/bj-icon2.png) no-repeat; 
        background-position-y:  -175px ;
        }
#mask{ 
        width:100%; 
        position: absolute; 
        left:0; 
        top:0; 
        background:rgba(0,0,0,0.5); 
        z-index: 5;
    }
/*===============header====================*/
header{
        height: 36px;
        background: #333333;
    }
#hed{
        height: 36px;
    }
#hed p{
        width: 278px; 
        line-height: 36px; 
        position: relative;
        }
#hed p a{
        width: 252px; 
        height: 36px; 
        line-height: 36px;
        text-decoration: underline; 
        color: #cc9756;
        }
#hed p a:hover{
        text-decoration:none; 
        color: #fff;
        }
#hed p img{
        display: inline-block;
        position: absolute; 
        top: 12px;
        }
#hed ul{
        display:flex;
        width: 472px;  
        line-height: 36px; 
        }
#hed ul li{ 
        padding:0 10px;
        line-height: 36px; 
        height: 36px; 
        /* margin: 10px 0; */
        position: relative;
        cursor: pointer;
        }
#hed ul li:not(:nth-of-type(1))::before{
        content:'';
        border-left: solid 1px #5c5c5c;
        height: 16px;
        margin-top: 11px;
        margin-left: -10px;
        position: absolute;
        }
#hed ul li:last-of-type::before{    
        margin-left: -22px;
        } 
#hed ul li a{
        color: #ccc; 
        }
#hed ul li a:hover{
        color: #fff;
        }
#hed ul li:nth-child(1) a{ 
        width: 54px; 
        }
#hed ul li:nth-of-type(2) a{ 
        width: 48px;
        }
#hed ul li:nth-of-type(3) a{ 
        width: 24px;
        }
#hed ul li:nth-of-type(4) a{ 
        width: 36px;
        }
#hed ul li:nth-of-type(5),#hed ul li:nth-of-type(6){ 
        width: 69px;
        }
#hed ul li:nth-of-type(5) span,#hed ul li:nth-of-type(6) span{
        position:absolute;
        top:2px; 
        right: 10px;
        color: #ccc;
        }
#hed ul li:nth-of-type(7){ 
        width: 36px;
        padding-right:0;
        text-align: right;
        }
#hed ul li:nth-of-type(7) span{
        position:absolute; 
        top: 2px; 
        left: 10px; 
        color: #fff;
        }
#hed ul li div.hedsp{
        margin-left: -10px;
        position: relative;
        z-index: 1;
        display: none;
    }
#hed ul li div.hedsp p{
        font-size: 12px;
        background: #fff;
        z-index: 1;
        text-align: center;
        line-height: 12px;
        width: 80px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
}
#hed ul li div.hedsp p:last-of-type{
    border-bottom: 1px solid #ccc;
}
#hed ul li div.hedsp p a{
    display: inline-block;
    text-decoration: none;
    width: 60px;
    background: #fff
   
}
#hed ul li div.hedsp p a:hover{
    color: #cc9756;
}
#hed ul li div.hedsp p:not(:last-of-type) a{
    border-bottom: 1px solid #ccc;
}
#hed ul li div.hedsp::before{
     width: 0px; 
     border-bottom:6px solid #fff;
     border-left: 6px solid #333333;  
     border-right: 6px solid #333333;
     position: absolute;
     z-index: 1; 
     display: block; 
     content:'';
    left:37px;
    top: -6px;
    }
#hed ul li div.hedsp h3{
    width: 117px;
    height: 140px;
    background: #fff;
    z-index: 1;
    padding: 10px 10px;
    margin-left: -25px;
    border: 1px solid #ccc;
    border-top:0;
    font-size: 12px;
    text-align: center;
    color: #cc9756;
}
#hed ul li div.hedsp h3 img{
    width: 100%;
    height: 117px;
}
/*===============nav====================*/
nav{
        height: 140px; 
        width: 100%; 
        background: #fff;
    }
nav #navs{
        overflow: hidden; 
        position: relative; 
        background: #fff;
        height: 140px;
        }
nav #navs h1{
        margin-top: 29px;
        }

nav #navs #btu{
        height: 38px; 
        width: 532px; 
        margin-top: 26px; 
        display: flex; 
        position: relative;
        }
nav #navs #btu input{
        width: 441px; 
        border-radius: 18px 0px 0px 18px; 
        border: 1px solid #cc9756;
        height: 36px;
        }
nav #navs #btu input{
        border-right: 0; 
        background: #fff;
        padding-left:32px; 
        color: #ccc;
        }
nav #navs #btu button{
        width: 90px; 
        height: 38px; 
        background: #cc9756; 
        border-radius:  0px 19px 19px 0px;
        font-size: 16px; 
        text-align: center; 
        font-weight: bold;
        color: #fff; 
        cursor: pointer;
        }
nav #navs #btu span{
        position: absolute; 
        font-size: 15px; 
        left: 18px; 
        top: 11px; 
        color: #ccc;
        }
nav #navs #btu .ua{
        position: absolute; 
        top: 46px; 
        left: 8px; 
        display: flex;  
        height: 14px;
        line-height:14px;
        } 
nav #navs #btu .ua li{
        padding:0 10px;
        border-right: 1px solid #ccc;
        }
nav #navs #btu .ua li:nth-of-type(5){ 
        border-right:0;
        }
nav #navs #btu .ua li a.active{
        color: #cc9756;
        }
nav #navs #btu .ua li a:hover{
        color: #cc9756;
        }

nav #navs #bts{
        box-sizing: border-box; 
        width: 134px; 
        height: 38px; 
        border: 1px solid #cc9756; 
        background: #fff; 
        margin-left: 49px;
        border-radius: 19px; 
        line-height: 38px; 
        color: #cc9756; 
        text-align: center; 
        position: relative; 
        margin-top: 26px; 
        cursor: pointer;
        }
nav #navs #bts span:nth-of-type(2){
        width: 19px; 
        height: 19px; 
        border-radius: 50%; 
        background: #d12a2c; 
        display: inline-block;
        color: #fff;  
        position: absolute; 
        right: 17px; 
        top: 7px; 
        line-height: 19px;
        }
nav #navs #bts span:nth-of-type(1){
        position: absolute; 
        left: 23px; 
        font-size: 14px;
        }

nav #navs .ub{
        width: 100%; 
        height: 24px; 
        position:absolute; 
        bottom: 0; 
        left: 0;
        display: flex;
        }
nav #navs .ub li{
        padding: 0 26px; 
        font-size: 14px; 
        height: 14px; 
        line-height: 14px;
        font-weight: bold;
        }
nav #navs .ub li:nth-of-type(1){
        padding-left: 0;
        }
nav #navs .ub li:nth-of-type(11){
        padding-right: 0;
        }
nav #navs .ub li:nth-of-type(10){
        border-left: 1px solid #ccc; 
        } 
nav #navs .ub li a{ 
        height: 21px;
        color: #000; 
        display: inline-block;
        }
nav #navs .ub li:nth-of-type(1) a{
        border-bottom: 3px solid #cc9756; 
        color: #cc9756;
        }
nav #navs .ub li a:hover{
        border-bottom: 3px solid #cc9756; 
        color: #cc9756;
        }

/*===============banner====================*/
#banner{
        width: 100%; 
        position: relative;
        height: 420px;
        }
#banner #imgg{
        width: 100%; 
        height: 420px;
        position: absolute;
        display: flex;
        }
#banner #imgg img{
        position: relative; 
        left: -20%;
        }
#banner #bttn{
        height: 420px; 
        position: absolute; 
        left:0; 
        top: 0; 
        right: 0; 
        bottom: 0; 
        margin: auto;
        }
#banner #bttn button{
        position: absolute; 
        width: 50px; 
        height: 50px; 
        border-radius: 50%; 
        background: #E2C199; 
        top: 185px;
        }
#banner #bttn button span{
        color: #fff; 
        font-size: 18px;  
        line-height: 50px; 
        text-align: center;
        }
#banner #bttn button:hover{
        background: #cc9756;
        }
#banner #bttn button.btz{
        top: 185px; 
        left: -25px; 
        cursor: pointer;
        }
#banner #bttn button.bty{ 
        top: 185px;
        right:-25px; 
        cursor: pointer;
        }
#banner #bttn ul{
        position:absolute; 
        bottom: 4px; 
        width: 100%; 
        height: 28px;  
        text-align: center;
        line-height: 28px;
        }
#banner #bttn ul li{ 
        display: inline-block;  
        width: 8px; 
        height: 8px; 
        border-radius: 50%; 
        background: #fff;
        margin: 0 4px; 
        cursor: pointer; 
        border: 1px solid #ccc; 
        box-sizing: border-box; 
        vertical-align: middle;
        }
#banner #bttn ul li.btactive{
        background: #a7936e; 
        border: 3px solid #dfcead; 
        width: 13px; 
        height: 13px; 
        }
/*===============banner====================*/